* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
.container-box {
  width: 100%;
  padding: 15px;
}

.container-wrap {
  width: 100%;
  max-width: 375px;
  background-color: #e6ecff;
  margin: 0 auto;
  padding: 20px;
  /*overflow: hidden;*/
}

.svg-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg-img > svg {
  position: absolute;
}

.svg-img > svg:nth-child(1) {
  left: 0;
  top: 0;
  z-index: 1;
}

.svg-img > svg:nth-child(2) {
  right: 0;
  top: 0;
  z-index: 1;
}

.profile-image-area > img {
  width: 70%;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.header-text {
  z-index: 2;
  font-display: flex;
  align-items: center;
}

.text-Frontend {
  text-align: left;
  line-height: 1.6;
}

.header-text h1 {
  font-size: 14px;
  font-weight: bold;
}
